# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Mac OS
.DS_Store

# Optional: Datenbanken (Falls du die .db Dateien nicht hochladen willst, da die Skripte sie eh generieren. 
# Wenn du sie als Beweis hochladen willst, entferne die nächste Zeile)
# *.db